[user]
	name = Alex Piquard
	email = alex.piquard@hotmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOJNBL2NufHmuxSvE2t0OS5M6HvtpcAOJnheB53i7nyh
[commit]
	gpgsign = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = "/opt/1Password/op-ssh-sign"
[core]
	editor = nvim
[github]
	user = AlexPiquard
[init]
	defaultBranch = main
